{% extends "base.html" %}

{% block title %}
    Delete Post
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
    {% if user.id == post.author.id %}
        <h1>Delete Post: {{ post.title }}</h1>

        <br/>
        <div class='form-group'>
            <form method="POST">
                {% csrf_token %}
                <strong>Are you sure?</strong><br/><br/>
                <button class="btn btn-danger">Delete</button>
                {% comment %} <button class="btn btn-primary">Cancel</button> {% endcomment %}
                <a href="{% url 'home' %}" class="btn btn-primary">Cancel</a>
            </form>
        </div>
    {% else %}
        You are not allowed here...
    {% endif %}

{% endif %}
You are not allowed to do so....

{% endblock %}